vars:
--------------------------------
{{ vars | to_nice_json }} 

environment:
--------------------------------
{{ environment | to_nice_json }} 

group_names:
--------------------------------
{{ group_names | to_nice_json }}

groups:
--------------------------------
{{ groups | to_nice_json }}

hostvars:
--------------------------------
{{ hostvars | to_nice_json }} 
